<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050131620883-00lcci050j6kg1ov0md8141q7616nl57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050131620883-00lcci050j6kg1ov0md8141q7616nl57</string>
	<key>API_KEY</key>
	<string>AIzaSyDhYA6orNJ8MRX4HcueSgEFyP0QsriKoWY</string>
	<key>GCM_SENDER_ID</key>
	<string>1050131620883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zackaryoconnor.My-Movies</string>
	<key>PROJECT_ID</key>
	<string>my-movies-86ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>my-movies-86ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050131620883:ios:77798014ceb9a0c2</string>
	<key>DATABASE_URL</key>
	<string>https://my-movies-86ed6.firebaseio.com</string>
</dict>
</plist>